.css_pe_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pe_nombre_grid_line {vertical-align: top;text-align: left;}
.css_ph_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ph_nombre_grid_line {vertical-align: top;text-align: left;}
.css_ph_sustentohogar_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ph_sustentohogar_grid_line {vertical-align: top;text-align: left;}
.css_ph_fechadenacimiento_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_ph_fechadenacimiento_grid_line {vertical-align: top;text-align: center;}
.css_ph_idpersonasporhogar_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ph_idpersonasporhogar_grid_line {vertical-align: top;text-align: right;}
