.css_coddonante_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_coddonante_grid_line {vertical-align: top;text-align: left;}
.css_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nombre_grid_line {vertical-align: top;text-align: left;}
.css_comentario_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_comentario_grid_line {vertical-align: top;text-align: left;}
