.css_coddonante_det_label {text-align: right;vertical-align: middle;}
.css_coddonante_det_line {height:0px;text-align: right;}
.css_nombre_det_label {text-align: right;vertical-align: middle;}
.css_nombre_det_line {height:0px;text-align: right;}
.css_comentario_det_label {text-align: right;vertical-align: middle;}
.css_comentario_det_line {height:0px;text-align: right;}
