.css_planificar_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_planificar_grid_line {text-align: left;}
.css_reportes_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_reportes_grid_line {text-align: left;}
.css_editar_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_editar_grid_line {text-align: left;}
.css_aprobacion_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_aprobacion_grid_line {text-align: left;}
.css_exportar_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_exportar_grid_line {text-align: left;}
