.css_codhogar_label { }
.css_codhogar_line { }
.css_codhogar_obj { }
.css_numeropersonas_label {text-align:;}
.css_numeropersonas_line {text-align:left;}
.css_numeropersonas_obj {text-align:left;}
.css_iddepartamento_label { }
.css_iddepartamento_line {text-align:left;}
.css_iddepartamento_obj {text-align:left;}
.css_idmunicipio_label { }
.css_idmunicipio_line {text-align:left;}
.css_idmunicipio_obj {text-align:left;}
.css_idcomunidad_label { }
.css_idcomunidad_line {text-align:left;}
.css_idcomunidad_obj {text-align:left;}
.css_direccion_label { }
.css_direccion_line { }
.css_direccion_obj { }
.css_lat_label { }
.css_lat_line {text-align:left;}
.css_lat_obj {text-align:left;}
.css_lon_label { }
.css_lon_line {text-align:left;}
.css_lon_obj {text-align:left;}
.css_idclasificacionhogar_label { }
.css_idclasificacionhogar_line {text-align:left;}
.css_idclasificacionhogar_obj {text-align:left;}
.css_id_ref_externa_label { }
.css_id_ref_externa_line { }
.css_id_ref_externa_obj { }
.css_personas_label { }
.css_personas_line { }
.css_personas_obj { }
