.css_p_codigop_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_p_codigop_grid_line {vertical-align: top;text-align: left;}
.css_d_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_d_nombre_grid_line {vertical-align: top;text-align: left;}
.css_c_riesgos_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_c_riesgos_grid_line {vertical-align: top;text-align: left;}
.css_c_prevenciones_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_c_prevenciones_grid_line {vertical-align: top;text-align: left;}
.css_c_idcoberturas_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_c_idcoberturas_grid_line {vertical-align: top;text-align: right;}
