.css_codigo_label { }
.css_codigo_line { }
.css_codigo_obj { }
.css_indicador_label { }
.css_indicador_line { }
.css_indicador_obj { }
.css_definicion_metodologia_label { }
.css_definicion_metodologia_line { }
.css_definicion_metodologia_obj { }
.css_idunidaddemedida_label { }
.css_idunidaddemedida_line {text-align:left;}
.css_idunidaddemedida_obj {text-align:left;}
.css_fuentes_label { }
.css_fuentes_line { }
.css_fuentes_obj { }
.css_fuentesverificacion_label { }
.css_fuentesverificacion_line { }
.css_fuentesverificacion_obj { }
.css_responsables_label { }
.css_responsables_line { }
.css_responsables_obj { }
.css_frecuencia_label { }
.css_frecuencia_line { }
.css_frecuencia_obj { }
.css_basededatos_label { }
.css_basededatos_line { }
.css_basededatos_obj { }
.css_reportespowerbi_label { }
.css_reportespowerbi_line { }
.css_reportespowerbi_obj { }
.css_informesnarrativos_label { }
.css_informesnarrativos_line { }
.css_informesnarrativos_obj { }
.css_descripcionalcance_label { }
.css_descripcionalcance_line { }
.css_descripcionalcance_obj { }
.css_valorbase_label { }
.css_valorbase_line {text-align:left;}
.css_valorbase_obj {text-align:left;}
.css_valormeta_label {text-align:;}
.css_valormeta_line {text-align:left;}
.css_valormeta_obj {text-align:left;}
.css_tiposdeverificacion_label { }
.css_tiposdeverificacion_line { }
.css_tiposdeverificacion_obj { }
