.css_pl_indicador_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_pl_indicador_grid_line {vertical-align: top;text-align: right;}
.css_pl_definicion_metodologia_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_pl_definicion_metodologia_grid_line {vertical-align: top;text-align: right;}
.css_pl_fuentes_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_pl_fuentes_grid_line {vertical-align: top;text-align: right;}
.css_pl_fuentesverificacion_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_pl_fuentesverificacion_grid_line {vertical-align: top;text-align: right;}
.css_pl_responsables_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_pl_responsables_grid_line {vertical-align: top;text-align: right;}
.css_pl_frecuencia_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_pl_frecuencia_grid_line {vertical-align: top;text-align: right;}
.css_pl_basededatos_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_pl_basededatos_grid_line {vertical-align: top;text-align: right;}
.css_pl_reportespowerbi_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_pl_reportespowerbi_grid_line {vertical-align: top;text-align: right;}
.css_pl_informesnarrativos_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_pl_informesnarrativos_grid_line {vertical-align: top;text-align: right;}
.css_pl_descripcionalcance_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_pl_descripcionalcance_grid_line {vertical-align: top;text-align: right;}
.css_pl_valorbase_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_pl_valorbase_grid_line {vertical-align: top;text-align: right;}
.css_pl_valormeta_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_pl_valormeta_grid_line {vertical-align: top;text-align: right;}
.css_um_nombre_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_um_nombre_grid_line {vertical-align: top;text-align: right;}
