.css_p_noidentificacion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_p_noidentificacion_grid_line {vertical-align: top;text-align: right;}
.css_bi_cantidadentregada_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_bi_cantidadentregada_grid_line {vertical-align: top;text-align: right;}
.css_bi_idbeneficioinstitucion_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_bi_idbeneficioinstitucion_grid_line {vertical-align: top;text-align: right;}
.css_p_idpersona_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_p_idpersona_grid_line {vertical-align: top;text-align: right;}
.css_bi_idplanificacion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_bi_idplanificacion_grid_line {vertical-align: top;text-align: right;}
.css_bi_fechadeingreso_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_bi_fechadeingreso_grid_line {vertical-align: top;text-align: center;}
