.css_bi_idbeneficioinstitucion_det_label {text-align: right;vertical-align: middle;}
.css_bi_idbeneficioinstitucion_det_line {height:0px;text-align: right;}
.css_p_noidentificacion_det_label {text-align: right;vertical-align: middle;}
.css_p_noidentificacion_det_line {height:0px;text-align: right;}
.css_p_idpersona_det_label {text-align: right;vertical-align: middle;}
.css_p_idpersona_det_line {height:0px;text-align: right;}
.css_bi_idplanificacion_det_label {text-align: right;vertical-align: middle;}
.css_bi_idplanificacion_det_line {height:0px;text-align: right;}
.css_bi_fechadeingreso_det_label {text-align: right;vertical-align: middle;}
.css_bi_fechadeingreso_det_line {height:0px;text-align: right;}
.css_bi_cantidadentregada_det_label {text-align: right;vertical-align: middle;}
.css_bi_cantidadentregada_det_line {height:0px;text-align: right;}
.css_bi_login_det_label {text-align: right;vertical-align: middle;}
.css_bi_login_det_line {height:0px;text-align: right;}
