.css_planmeal_idobjetivo_resultado_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_planmeal_idobjetivo_resultado_grid_line {vertical-align: top;text-align: right;}
.css_planmeal_codigo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_planmeal_codigo_grid_line {vertical-align: top;text-align: right;}
.css_planmeal_indicador_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_planmeal_indicador_grid_line {vertical-align: top;text-align: right;}
.css_planmeal_definicion_metodologia_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_planmeal_definicion_metodologia_grid_line {vertical-align: top;text-align: right;}
.css_planmeal_idunidaddemedida_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_planmeal_idunidaddemedida_grid_line {vertical-align: top;text-align: right;}
.css_planmeal_descripcionalcance_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_planmeal_descripcionalcance_grid_line {vertical-align: top;text-align: right;}
.css_avance_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_avance_grid_line {text-align: center;}
