.css_d_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_d_nombre_grid_line {vertical-align: top;text-align: left;}
.css_d_coddepartamento_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_d_coddepartamento_grid_line {vertical-align: top;text-align: left;}
.css_d_lat_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_d_lat_grid_line {vertical-align: top;text-align: right;}
.css_d_lon_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_d_lon_grid_line {vertical-align: top;text-align: right;}
