.css_d_iddepartamento_det_label {text-align: left;vertical-align: middle;}
.css_d_iddepartamento_det_line {height:0px;text-align: left;}
.css_d_nombre_det_label {text-align: left;vertical-align: middle;}
.css_d_nombre_det_line {height:0px;text-align: left;}
.css_d_coddepartamento_det_label {text-align: left;vertical-align: middle;}
.css_d_coddepartamento_det_line {height:0px;text-align: left;}
.css_d_lat_det_label {text-align: left;vertical-align: middle;}
.css_d_lat_det_line {height:0px;text-align: left;}
.css_d_lon_det_label {text-align: left;vertical-align: middle;}
.css_d_lon_det_line {height:0px;text-align: left;}
.css_p_nombre_det_label {text-align: left;vertical-align: middle;}
.css_p_nombre_det_line {height:0px;text-align: left;}
