.css_idindicador__label {text-align:;}
.css_idindicador__line {text-align:left;}
.css_idindicador__obj {text-align:left;}
.css_idplanificacion__label { }
.css_idplanificacion__line {text-align:left;}
.css_idplanificacion__obj {text-align:left;}
.css_notas__label { }
.css_notas__line { }
.css_notas__obj { }
.css_fechaplan__label { }
.css_fechaplan__line { }
.css_fechaplan__obj { }
.css_valorplan__label { }
.css_valorplan__line {text-align:left;}
.css_valorplan__obj {text-align:left;}
