.css_pl_meta_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_pl_meta_grid_line {vertical-align: top;text-align: right;}
.css_registrostotales_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_registrostotales_grid_line {vertical-align: top;text-align: right;}
.css_porcentaje_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_porcentaje_grid_line {vertical-align: top;text-align: right;}
