.css_ingresos_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_ingresos_grid_line {text-align: right;}
.css_ingresospersonas_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_ingresospersonas_grid_line {text-align: right;}
