.css_sc_field_0_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_sc_field_0_grid_line {vertical-align: top;text-align: left;}
.css_pl_codsocio_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_pl_codsocio_grid_line {vertical-align: top;text-align: left;}
.css_ac_nombre_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_ac_nombre_grid_line {vertical-align: top;text-align: left;}
.css_suba_nombre_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_suba_nombre_grid_line {vertical-align: top;text-align: left;}
.css_pl_fechainicio_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_pl_fechainicio_grid_line {vertical-align: top;text-align: left;}
.css_pl_fechafin_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_pl_fechafin_grid_line {vertical-align: top;text-align: left;}
.css_pl_detalle_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_pl_detalle_grid_line {vertical-align: top;text-align: left;}
.css_unidad_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_unidad_grid_line {vertical-align: top;text-align: left;}
.css_sc_field_1_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_sc_field_1_grid_line {vertical-align: top;text-align: left;}
.css_sc_field_2_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_sc_field_2_grid_line {vertical-align: top;text-align: left;}
.css_emergencia_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_emergencia_grid_line {vertical-align: top;text-align: left;}
.css_sc_field_3_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_sc_field_3_grid_line {vertical-align: top;text-align: left;}
.css_indicador_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_indicador_grid_line {vertical-align: top;text-align: left;}
.css_departamento_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_departamento_grid_line {vertical-align: top;text-align: left;}
.css_municipio_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_municipio_grid_line {vertical-align: top;text-align: left;}
.css_comunidad_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_comunidad_grid_line {vertical-align: top;text-align: left;}
.css_pl_colonia_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_pl_colonia_grid_line {vertical-align: top;text-align: left;}
.css_estado_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_estado_grid_line {vertical-align: top;text-align: left;}
.css_sc_field_5_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_sc_field_5_grid_line {vertical-align: top;text-align: left;}
.css_sc_field_6_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_sc_field_6_grid_line {vertical-align: top;text-align: left;}
.css_pl_informacioncualitativa_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_pl_informacioncualitativa_grid_line {vertical-align: top;text-align: left;}
.css_pl_observacionesadicionales_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_pl_observacionesadicionales_grid_line {vertical-align: top;text-align: left;}
.css_sc_field_4_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_sc_field_4_grid_line {vertical-align: top;text-align: left;}
.css_mediosdeverificacion_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_mediosdeverificacion_grid_line {text-align: left;}
.css_sc_field_7_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_sc_field_7_grid_line {vertical-align: top;text-align: left;}
.css_avance_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_avance_grid_line {text-align: left;}
.css_beneficiarios_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_beneficiarios_grid_line {text-align: left;}
