.css_mdv_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_mdv_nombre_grid_line {vertical-align: top;text-align: left;}
.css_mdv_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_mdv_descripcion_grid_line {vertical-align: top;text-align: left;}
.css_mdv_medio_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_mdv_medio_grid_line {vertical-align: top;text-align: center;}
