.css_p_idpersona_det_label {text-align: left;vertical-align: middle;}
.css_p_idpersona_det_line {height:0px;text-align: left;}
.css_p_foto_det_label {text-align: left;vertical-align: middle;}
.css_p_foto_det_line {color:#000000;height:0px;text-align: left;}
.css_p_nombre_det_label {text-align: left;vertical-align: middle;}
.css_p_nombre_det_line {height:0px;text-align: left;}
.css_td_nombre_det_label {text-align: left;vertical-align: middle;}
.css_td_nombre_det_line {height:0px;text-align: left;}
.css_p_noidentificacion_det_label {text-align: left;vertical-align: middle;}
.css_p_noidentificacion_det_line {height:0px;text-align: left;}
.css_g_genero_det_label {text-align: left;vertical-align: middle;}
.css_g_genero_det_line {height:0px;text-align: left;}
.css_e_nombre_det_label {text-align: left;vertical-align: middle;}
.css_e_nombre_det_line {height:0px;text-align: left;}
.css_p_fechadenacimiento_det_label {text-align: left;vertical-align: middle;}
.css_p_fechadenacimiento_det_line {height:0px;text-align: left;}
.css_anios_det_label {text-align: left;vertical-align: middle;}
.css_anios_det_line {height:0px;text-align: left;}
.css_meses_det_label {text-align: left;vertical-align: middle;}
.css_meses_det_line {height:0px;text-align: left;}
.css_getario_det_label {text-align: left;vertical-align: middle;}
.css_getario_det_line {height:0px;text-align: left;}
.css_ec_nombre_det_label {text-align: left;vertical-align: middle;}
.css_ec_nombre_det_line {height:0px;text-align: left;}
.css_p_iddepartamento_det_label {text-align: left;vertical-align: middle;}
.css_p_iddepartamento_det_line {height:0px;text-align: left;}
.css_c_nombre_det_label {text-align: left;vertical-align: middle;}
.css_c_nombre_det_line {height:0px;text-align: left;}
.css_p_direccion_det_label {text-align: left;vertical-align: middle;}
.css_p_direccion_det_line {height:0px;text-align: left;}
.css_p_email_det_label {text-align: left;vertical-align: middle;}
.css_p_email_det_line {height:0px;text-align: left;}
.css_p_telefono_det_label {text-align: left;vertical-align: middle;}
.css_p_telefono_det_line {height:0px;text-align: left;}
.css_p_cargo_det_label {text-align: left;vertical-align: middle;}
.css_p_cargo_det_line {height:0px;text-align: left;}
.css_p_id_ref_externa_det_label {text-align: left;vertical-align: middle;}
.css_p_id_ref_externa_det_line {height:0px;text-align: left;}
