.css_p_codigoc_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_p_codigoc_grid_line {vertical-align: top;text-align: right;}
.css_p_codigop_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_p_codigop_grid_line {vertical-align: top;text-align: right;}
.css_p_descripcionc_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_p_descripcionc_grid_line {vertical-align: top;text-align: right;}
.css_p_descripcionp_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_p_descripcionp_grid_line {vertical-align: top;text-align: right;}
.css_p_fechainicioc_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_p_fechainicioc_grid_line {vertical-align: top;text-align: right;}
.css_p_fechainiciop_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_p_fechainiciop_grid_line {vertical-align: top;text-align: right;}
.css_p_fechafinc_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_p_fechafinc_grid_line {vertical-align: top;text-align: right;}
.css_p_fechafinp_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_p_fechafinp_grid_line {vertical-align: top;text-align: right;}
.css_p_nombrep_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_p_nombrep_grid_line {vertical-align: top;text-align: right;}
.css_p_descripciongeo_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_p_descripciongeo_grid_line {vertical-align: top;text-align: right;}
.css_p_codprograma_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_p_codprograma_grid_line {vertical-align: top;text-align: right;}
.css_socios_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_socios_grid_line {text-align: right;}
