.css_idasignaciontipodeverificacion__label {text-align:;}
.css_idasignaciontipodeverificacion__line {text-align:left;}
.css_idasignaciontipodeverificacion__obj {text-align:left;}
.css_idtipodeverificacion__label { }
.css_idtipodeverificacion__line {text-align:left;}
.css_idtipodeverificacion__obj {text-align:left;}
