.css_codsocio_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codsocio_grid_line {vertical-align: top;text-align: left;}
.css_detalle_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_detalle_grid_line {vertical-align: top;text-align: left;}
.css_noaplica_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_noaplica_grid_line {text-align: center;}
.css_personas_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_personas_grid_line {text-align: center;}
.css_hogares_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_hogares_grid_line {text-align: center;}
.css_instituciones_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_instituciones_grid_line {text-align: center;}
.css_idsocioporproyecto_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idsocioporproyecto_grid_line {vertical-align: top;text-align: right;}
.css_idproyecto_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idproyecto_grid_line {vertical-align: top;text-align: right;}
