.css_valorbase_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_valorbase_grid_line {text-align: center;}
.css_avanceactual_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_avanceactual_grid_line {text-align: center;}
.css_valormeta_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_valormeta_grid_line {text-align: center;}
.css_avance_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_avance_grid_line {text-align: right;}
.css_idplanmeal_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idplanmeal_grid_line {vertical-align: top;text-align: right;}
