.css_codigoc_label { }
.css_codigoc_line { }
.css_codigoc_obj { }
.css_descripcionc_label { }
.css_descripcionc_line { }
.css_descripcionc_obj { }
.css_fechainicioc_label { }
.css_fechainicioc_line { }
.css_fechainicioc_obj { }
.css_fechafinc_label { }
.css_fechafinc_line { }
.css_fechafinc_obj { }
.css_codigop_label { }
.css_codigop_line { }
.css_codigop_obj { }
.css_nombrep_label { }
.css_nombrep_line { }
.css_nombrep_obj { }
.css_descripcionp_label { }
.css_descripcionp_line { }
.css_descripcionp_obj { }
.css_fechainiciop_label { }
.css_fechainiciop_line { }
.css_fechainiciop_obj { }
.css_fechafinp_label { }
.css_fechafinp_line { }
.css_fechafinp_obj { }
.css_descripciongeo_label { }
.css_descripciongeo_line { }
.css_descripciongeo_obj { }
.css_idbase_label { }
.css_idbase_line {text-align:left;}
.css_idbase_obj {text-align:left;}
.css_codprograma_label { }
.css_codprograma_line { }
.css_codprograma_obj { }
.css_idestados_label { }
.css_idestados_line {text-align:left;}
.css_idestados_obj {text-align:left;}
.css_objetivogeneral_label { }
.css_objetivogeneral_line { }
.css_objetivogeneral_obj { }
.css_hipotesis_label { }
.css_hipotesis_line { }
.css_hipotesis_obj { }
.css_coberturas_label { }
.css_coberturas_line { }
.css_coberturas_obj { }
.css_socios_label { }
.css_socios_line { }
.css_socios_obj { }
.css_objetivosresultados_label { }
.css_objetivosresultados_line { }
.css_objetivosresultados_obj { }
.css_aportedonante_label { }
.css_aportedonante_line { }
.css_aportedonante_obj { }
