.css_idcoberturas__label {text-align:;}
.css_idcoberturas__line {text-align:left;}
.css_idcoberturas__obj {text-align:left;}
.css_iddepartamento__label { }
.css_iddepartamento__line {text-align:left;}
.css_iddepartamento__obj {text-align:left;}
.css_riesgos__label { }
.css_riesgos__line { }
.css_riesgos__obj { }
.css_prevenciones__label { }
.css_prevenciones__line { }
.css_prevenciones__obj { }
