.css_h_idhogar_det_label {text-align: left;vertical-align: middle;}
.css_h_idhogar_det_line {height:0px;text-align: left;}
.css_h_codhogar_det_label {text-align: left;vertical-align: middle;}
.css_h_codhogar_det_line {height:0px;text-align: left;}
.css_h_numeropersonas_det_label {text-align: left;vertical-align: middle;}
.css_h_numeropersonas_det_line {height:0px;text-align: left;}
.css_pa_nombre_det_label {text-align: left;vertical-align: middle;}
.css_pa_nombre_det_line {height:0px;text-align: left;}
.css_de_nombre_det_label {text-align: left;vertical-align: middle;}
.css_de_nombre_det_line {height:0px;text-align: left;}
.css_mu_nombre_det_label {text-align: left;vertical-align: middle;}
.css_mu_nombre_det_line {height:0px;text-align: left;}
.css_co_nombre_det_label {text-align: left;vertical-align: middle;}
.css_co_nombre_det_line {height:0px;text-align: left;}
.css_h_direccion_det_label {text-align: left;vertical-align: middle;}
.css_h_direccion_det_line {height:0px;text-align: left;}
.css_h_lat_det_label {text-align: left;vertical-align: middle;}
.css_h_lat_det_line {height:0px;text-align: left;}
.css_h_lon_det_label {text-align: left;vertical-align: middle;}
.css_h_lon_det_line {height:0px;text-align: left;}
.css_ch_nombre_det_label {text-align: left;vertical-align: middle;}
.css_ch_nombre_det_line {height:0px;text-align: left;}
.css_h_id_ref_externa_det_label {text-align: left;vertical-align: middle;}
.css_h_id_ref_externa_det_line {height:0px;text-align: left;}
