.css_nombre_label { }
.css_nombre_line { }
.css_nombre_obj { }
.css_codigo_label { }
.css_codigo_line { }
.css_codigo_obj { }
.css_idmunicipio_label { }
.css_idmunicipio_line {text-align:left;}
.css_idmunicipio_obj {text-align:left;}
.css_lat_label { }
.css_lat_line {text-align:left;}
.css_lat_obj {text-align:left;}
.css_log_label { }
.css_log_line {text-align:left;}
.css_log_obj {text-align:left;}
.css_idmision_label { }
.css_idmision_line {text-align:left;}
.css_idmision_obj {text-align:left;}
