.css_m_idmunicipio_det_label {text-align: left;vertical-align: middle;}
.css_m_idmunicipio_det_line {height:0px;text-align: left;}
.css_m_nombre_det_label {text-align: left;vertical-align: middle;}
.css_m_nombre_det_line {height:0px;text-align: left;}
.css_m_codmunicipio_det_label {text-align: left;vertical-align: middle;}
.css_m_codmunicipio_det_line {height:0px;text-align: left;}
.css_m_lat_det_label {text-align: left;vertical-align: middle;}
.css_m_lat_det_line {height:0px;text-align: left;}
.css_m_lon_det_label {text-align: left;vertical-align: middle;}
.css_m_lon_det_line {height:0px;text-align: left;}
.css_d_nombre_det_label {text-align: left;vertical-align: middle;}
.css_d_nombre_det_line {height:0px;text-align: left;}
