.css_c_idcomunidad_det_label {text-align: left;vertical-align: middle;}
.css_c_idcomunidad_det_line {height:0px;text-align: left;}
.css_c_nombre_det_label {text-align: left;vertical-align: middle;}
.css_c_nombre_det_line {height:0px;text-align: left;}
.css_c_codcomunidad_det_label {text-align: left;vertical-align: middle;}
.css_c_codcomunidad_det_line {height:0px;text-align: left;}
.css_c_lat_det_label {text-align: left;vertical-align: middle;}
.css_c_lat_det_line {height:0px;text-align: left;}
.css_c_long_det_label {text-align: left;vertical-align: middle;}
.css_c_long_det_line {height:0px;text-align: left;}
.css_m_nombre_det_label {text-align: left;vertical-align: middle;}
.css_m_nombre_det_line {height:0px;text-align: left;}
