.css_actividad_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_actividad_grid_line {vertical-align: top;text-align: left;}
.css_sc_field_0_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_0_grid_line {vertical-align: top;text-align: left;}
.css_pl_fechainicio_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pl_fechainicio_grid_line {vertical-align: top;text-align: left;}
.css_pl_fechafin_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pl_fechafin_grid_line {vertical-align: top;text-align: left;}
.css_sumaindicador_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sumaindicador_grid_line {text-align: left;}
.css_conteobeneficiario_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_conteobeneficiario_grid_line {text-align: left;}
.css_avance_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_avance_grid_line {text-align: left;}
.css_vencimiento_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_vencimiento_grid_line {vertical-align: top;text-align: left;}
.css_es_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_es_nombre_grid_line {vertical-align: top;text-align: left;}
.css_valorindicador_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_valorindicador_grid_line {text-align: center;}
.css_reporte_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_reporte_grid_line {text-align: center;}
.css_pl_idplanificacion_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_pl_idplanificacion_grid_line {vertical-align: top;text-align: right;}
.css_p_codigop_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_p_codigop_grid_line {vertical-align: top;text-align: left;}
