.css_idcomunidad__label {text-align:;}
.css_idcomunidad__line {text-align:left;}
.css_idcomunidad__obj {text-align:left;}
.css_nombre__label { }
.css_nombre__line { }
.css_nombre__obj { }
.css_codcomunidad__label { }
.css_codcomunidad__line { }
.css_codcomunidad__obj { }
.css_lat__label { }
.css_lat__line {text-align:left;}
.css_lat__obj {text-align:left;}
.css_long__label { }
.css_long__line {text-align:left;}
.css_long__obj {text-align:left;}
