.css_informacioncualitativa_label { }
.css_informacioncualitativa_line { }
.css_informacioncualitativa_obj { }
.css_observacionesadicionales_label { }
.css_observacionesadicionales_line { }
.css_observacionesadicionales_obj { }
.css_beneficiariosindirectos_label { }
.css_beneficiariosindirectos_line {text-align:left;}
.css_beneficiariosindirectos_obj {text-align:left;}
.css_institucion_label { }
.css_institucion_line { }
.css_institucion_obj { }
.css_beneficiariosdirectos_label { }
.css_beneficiariosdirectos_line {text-align:left;}
.css_beneficiariosdirectos_obj {text-align:left;}
.css_totaldehombres_label { }
.css_totaldehombres_line {text-align:left;}
.css_totaldehombres_obj {text-align:left;}
.css_totaldemujeres_label { }
.css_totaldemujeres_line {text-align:left;}
.css_totaldemujeres_obj {text-align:left;}
.css_fechainicioplan_label { }
.css_fechainicioplan_line { }
.css_fechainicioplan_obj { }
.css_fechafinplan_label { }
.css_fechafinplan_line { }
.css_fechafinplan_obj { }
.css_actividad_label { }
.css_actividad_line { }
.css_actividad_obj { }
.css_beneficiarios_label { }
.css_beneficiarios_line { }
.css_beneficiarios_obj { }
.css_fechas_label { }
.css_fechas_line { }
.css_fechas_obj { }
.css_jdps_label { }
.css_jdps_line { }
.css_jdps_obj { }
.css_mediosdeverificacion_label { }
.css_mediosdeverificacion_line { }
.css_mediosdeverificacion_obj { }
.css_proyecto_label { }
.css_proyecto_line { }
.css_proyecto_obj { }
.css_subactividad_label { }
.css_subactividad_line { }
.css_subactividad_obj { }
