.css_b_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_b_nombre_grid_line {vertical-align: top;text-align: left;}
.css_b_codigo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_b_codigo_grid_line {vertical-align: top;text-align: left;}
.css_mu_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_mu_nombre_grid_line {vertical-align: top;text-align: left;}
.css_b_lat_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_b_lat_grid_line {vertical-align: top;text-align: right;}
.css_b_log_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_b_log_grid_line {vertical-align: top;text-align: right;}
.css_m_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_m_nombre_grid_line {vertical-align: top;text-align: left;}
.css_b_idbase_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_b_idbase_grid_line {vertical-align: top;text-align: right;}
