.css_b_idbase_det_label {text-align: right;vertical-align: middle;}
.css_b_idbase_det_line {height:0px;text-align: right;}
.css_b_nombre_det_label {text-align: right;vertical-align: middle;}
.css_b_nombre_det_line {height:0px;text-align: right;}
.css_b_codigo_det_label {text-align: right;vertical-align: middle;}
.css_b_codigo_det_line {height:0px;text-align: right;}
.css_mu_nombre_det_label {text-align: right;vertical-align: middle;}
.css_mu_nombre_det_line {height:0px;text-align: right;}
.css_b_lat_det_label {text-align: right;vertical-align: middle;}
.css_b_lat_det_line {height:0px;text-align: right;}
.css_b_log_det_label {text-align: right;vertical-align: middle;}
.css_b_log_det_line {height:0px;text-align: right;}
.css_m_nombre_det_label {text-align: right;vertical-align: middle;}
.css_m_nombre_det_line {height:0px;text-align: right;}
