.css_a_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_a_nombre_grid_line {vertical-align: top;text-align: left;}
.css_a_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_a_descripcion_grid_line {vertical-align: top;text-align: left;}
.css_a_codigo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_a_codigo_grid_line {vertical-align: top;text-align: left;}
.css_ta_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ta_nombre_grid_line {vertical-align: top;text-align: left;}
.css_a_idactividad_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_a_idactividad_grid_line {vertical-align: top;text-align: right;}
