.css_p_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_p_nombre_grid_line {vertical-align: top;text-align: right;}
.css_p_noidentificacion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_p_noidentificacion_grid_line {vertical-align: top;text-align: right;}
.css_p_fechadenacimiento_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_p_fechadenacimiento_grid_line {vertical-align: top;text-align: right;}
.css_p_cargo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_p_cargo_grid_line {vertical-align: top;text-align: right;}
.css_p_institucion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_p_institucion_grid_line {vertical-align: top;text-align: right;}
.css_firma_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_firma_grid_line {text-align: right;}
.css_p_idpersona_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_p_idpersona_grid_line {vertical-align: top;text-align: right;}
.css_p_foto_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_p_foto_grid_line {color:#000000;vertical-align: top;text-align: right;}
.css_td_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_td_nombre_grid_line {vertical-align: top;text-align: right;}
