.css_idplanificacion_label { }
.css_idplanificacion_line {text-align:left;}
.css_idplanificacion_obj {text-align:left;}
.css_idaprobacion_label { }
.css_idaprobacion_line {text-align:left;}
.css_idaprobacion_obj {text-align:left;}
.css_comentarioaprobacion_label { }
.css_comentarioaprobacion_line { }
.css_comentarioaprobacion_obj { }
.css_emailtecnico_label { }
.css_emailtecnico_line { }
.css_emailtecnico_obj { }
.css_actividad_label { }
.css_actividad_line { }
.css_actividad_obj { }
.css_proyecto_label { }
.css_proyecto_line { }
.css_proyecto_obj { }
.css_subactividad_label { }
.css_subactividad_line { }
.css_subactividad_obj { }
.css_aproba_label { }
.css_aproba_line { }
.css_aproba_obj { }
