.css_nombre_label { }
.css_nombre_line { }
.css_nombre_obj { }
.css_coddepartamento_label { }
.css_coddepartamento_line { }
.css_coddepartamento_obj { }
.css_lat_label { }
.css_lat_line {text-align:left;}
.css_lat_obj {text-align:left;}
.css_lon_label { }
.css_lon_line {text-align:left;}
.css_lon_obj {text-align:left;}
.css_municipio_label { }
.css_municipio_line { }
.css_municipio_obj { }
