.css_departamento_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_departamento_nombre_grid_line {vertical-align: top;text-align: left;}
.css_departamento_coddepartamento_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_departamento_coddepartamento_grid_line {vertical-align: top;text-align: left;}
.css_departamento_lat_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_departamento_lat_grid_line {vertical-align: top;text-align: right;}
.css_departamento_lon_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_departamento_lon_grid_line {vertical-align: top;text-align: right;}
.css_pais_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pais_nombre_grid_line {vertical-align: top;text-align: left;}
.css_departamento_iddepartamento_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_departamento_iddepartamento_grid_line {vertical-align: top;text-align: right;}
