.css_departamento_iddepartamento_det_label {text-align: right;vertical-align: middle;}
.css_departamento_iddepartamento_det_line {height:0px;text-align: right;}
.css_departamento_nombre_det_label {text-align: right;vertical-align: middle;}
.css_departamento_nombre_det_line {height:0px;text-align: right;}
.css_departamento_coddepartamento_det_label {text-align: right;vertical-align: middle;}
.css_departamento_coddepartamento_det_line {height:0px;text-align: right;}
.css_departamento_lat_det_label {text-align: right;vertical-align: middle;}
.css_departamento_lat_det_line {height:0px;text-align: right;}
.css_departamento_lon_det_label {text-align: right;vertical-align: middle;}
.css_departamento_lon_det_line {height:0px;text-align: right;}
.css_pais_nombre_det_label {text-align: right;vertical-align: middle;}
.css_pais_nombre_det_line {height:0px;text-align: right;}
