.css_idverificacionesplanificacion__label {text-align:;}
.css_idverificacionesplanificacion__line {text-align:left;}
.css_idverificacionesplanificacion__obj {text-align:left;}
.css_idtipodeverificacion__label { }
.css_idtipodeverificacion__line {text-align:left;}
.css_idtipodeverificacion__obj {text-align:left;}
