.css_idbeneficionoaplica__label {text-align:;}
.css_idbeneficionoaplica__line {text-align:left;}
.css_idbeneficionoaplica__obj {text-align:left;}
.css_valor__label { }
.css_valor__line {text-align:left;}
.css_valor__obj {text-align:left;}
.css_detalles__label { }
.css_detalles__line { }
.css_detalles__obj { }
.css_idplanificacion__label { }
.css_idplanificacion__line {text-align:left;}
.css_idplanificacion__obj {text-align:left;}
.css_updateplanificacion__label { }
.css_updateplanificacion__line { }
.css_updateplanificacion__obj { }
