.css_sa_idsubactividad_det_label {text-align: right;vertical-align: middle;}
.css_sa_idsubactividad_det_line {height:0px;text-align: right;}
.css_sa_nombre_det_label {text-align: right;vertical-align: middle;}
.css_sa_nombre_det_line {height:0px;text-align: right;}
.css_sa_descripcion_det_label {text-align: right;vertical-align: middle;}
.css_sa_descripcion_det_line {height:0px;text-align: right;}
.css_sa_codigo_det_label {text-align: right;vertical-align: middle;}
.css_sa_codigo_det_line {height:0px;text-align: right;}
.css_a_codigo_det_label {text-align: right;vertical-align: middle;}
.css_a_codigo_det_line {height:0px;text-align: right;}
