.css_sa_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sa_nombre_grid_line {vertical-align: top;text-align: right;}
.css_sa_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sa_descripcion_grid_line {vertical-align: top;text-align: right;}
.css_sa_codigo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sa_codigo_grid_line {vertical-align: top;text-align: right;}
.css_a_codigo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_a_codigo_grid_line {vertical-align: top;text-align: right;}
.css_sa_idsubactividad_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_sa_idsubactividad_grid_line {vertical-align: top;text-align: right;}
