.css_idsocioporproyecto_det_label {text-align: right;vertical-align: middle;}
.css_idsocioporproyecto_det_line {height:0px;text-align: right;}
.css_codsocio_det_label {text-align: right;vertical-align: middle;}
.css_codsocio_det_line {height:0px;text-align: right;}
.css_idproyecto_det_label {text-align: right;vertical-align: middle;}
.css_idproyecto_det_line {height:0px;text-align: right;}
.css_detalle_det_label {text-align: right;vertical-align: middle;}
.css_detalle_det_line {height:0px;text-align: right;}
