.css_p_codprograma_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_p_codprograma_grid_line {vertical-align: top;text-align: right;}
.css_p_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_p_nombre_grid_line {vertical-align: top;text-align: right;}
.css_p_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_p_descripcion_grid_line {vertical-align: top;text-align: right;}
.css_s_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_s_nombre_grid_line {vertical-align: top;text-align: right;}
