.css_nombre_label { }
.css_nombre_line { }
.css_nombre_obj { }
.css_codmunicipio_label { }
.css_codmunicipio_line { }
.css_codmunicipio_obj { }
.css_lat_label { }
.css_lat_line {text-align:left;}
.css_lat_obj {text-align:left;}
.css_lon_label { }
.css_lon_line {text-align:left;}
.css_lon_obj {text-align:left;}
.css_comunidad_label { }
.css_comunidad_line { }
.css_comunidad_obj { }
