.css_ob_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ob_nombre_grid_line {vertical-align: top;text-align: left;}
.css_sc_field_0_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_sc_field_0_grid_line {text-align: left;}
.css_ob_idobjetivo_resultado_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ob_idobjetivo_resultado_grid_line {vertical-align: top;text-align: right;}
.css_p_codigop_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_p_codigop_grid_line {vertical-align: top;text-align: left;}
