.css_h_codhogar_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_h_codhogar_grid_line {vertical-align: top;text-align: left;}
.css_sc_field_0_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_0_grid_line {vertical-align: top;text-align: left;}
.css_sc_field_1_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sc_field_1_grid_line {vertical-align: top;text-align: left;}
.css_g_genero_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_g_genero_grid_line {vertical-align: top;text-align: left;}
.css_h_numeropersonas_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_h_numeropersonas_grid_line {vertical-align: top;text-align: right;}
.css_bh_idbeneficiohogar_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_bh_idbeneficiohogar_grid_line {vertical-align: top;text-align: right;}
.css_bh_fechadeingreso_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_bh_fechadeingreso_grid_line {vertical-align: top;text-align: center;}
.css_bh_login_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_bh_login_grid_line {vertical-align: top;text-align: left;}
