.css_c_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_c_nombre_grid_line {vertical-align: top;text-align: left;}
.css_c_codcomunidad_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_c_codcomunidad_grid_line {vertical-align: top;text-align: left;}
.css_c_lat_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_c_lat_grid_line {vertical-align: top;text-align: right;}
.css_c_long_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_c_long_grid_line {vertical-align: top;text-align: right;}
.css_c_idcomunidad_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_c_idcomunidad_grid_line {vertical-align: top;text-align: right;}
.css_m_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_m_nombre_grid_line {vertical-align: top;text-align: left;}
