.css_idbeneficionoaplica_det_label {text-align: right;vertical-align: middle;}
.css_idbeneficionoaplica_det_line {height:0px;text-align: right;}
.css_valor_det_label {text-align: right;vertical-align: middle;}
.css_valor_det_line {height:0px;text-align: right;}
.css_detalles_det_label {text-align: right;vertical-align: middle;}
.css_detalles_det_line {height:0px;text-align: right;}
.css_fechadeingreso_det_label {text-align: right;vertical-align: middle;}
.css_fechadeingreso_det_line {height:0px;text-align: right;}
.css_login_det_label {text-align: right;vertical-align: middle;}
.css_login_det_line {height:0px;text-align: right;}
