.css_valor_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valor_grid_line {vertical-align: top;text-align: right;}
.css_detalles_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_detalles_grid_line {vertical-align: top;text-align: left;}
.css_fechadeingreso_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechadeingreso_grid_line {vertical-align: top;text-align: center;}
