.css_idcambiofecha__label {text-align:;}
.css_idcambiofecha__line {text-align:left;}
.css_idcambiofecha__obj {text-align:left;}
.css_idplanificacion__label { }
.css_idplanificacion__line {text-align:left;}
.css_idplanificacion__obj {text-align:left;}
.css_fechanueva__label { }
.css_fechanueva__line { }
.css_fechanueva__obj { }
.css_detalle__label { }
.css_detalle__line { }
.css_detalle__obj { }
.css_estado__label { }
.css_estado__line {text-align:left;}
.css_estado__obj {text-align:left;}
