.css_a_coddonante_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_a_coddonante_grid_line {vertical-align: top;text-align: left;}
.css_p_codigoc_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_p_codigoc_grid_line {vertical-align: top;text-align: left;}
.css_a_valor_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_a_valor_grid_line {vertical-align: top;text-align: right;}
.css_tp_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tp_nombre_grid_line {vertical-align: top;text-align: left;}
.css_tp_idtipodonacion_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tp_idtipodonacion_grid_line {vertical-align: top;text-align: right;}
.css_a_idaportedonante_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_a_idaportedonante_grid_line {vertical-align: top;text-align: right;}
