.css_a_idaportedonante_det_label {text-align: left;vertical-align: middle;}
.css_a_idaportedonante_det_line {height:0px;text-align: left;}
.css_a_coddonante_det_label {text-align: left;vertical-align: middle;}
.css_a_coddonante_det_line {height:0px;text-align: left;}
.css_p_codigoc_det_label {text-align: left;vertical-align: middle;}
.css_p_codigoc_det_line {height:0px;text-align: left;}
.css_a_valor_det_label {text-align: left;vertical-align: middle;}
.css_a_valor_det_line {height:0px;text-align: left;}
.css_tp_nombre_det_label {text-align: left;vertical-align: middle;}
.css_tp_nombre_det_line {height:0px;text-align: left;}
.css_tp_idtipodonacion_det_label {text-align: left;vertical-align: middle;}
.css_tp_idtipodonacion_det_line {height:0px;text-align: left;}
