.css_h_idhogar_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_h_idhogar_grid_line {vertical-align: top;text-align: left;}
.css_h_codhogar_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_h_codhogar_grid_line {vertical-align: top;text-align: left;}
.css_h_numeropersonas_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_h_numeropersonas_grid_line {vertical-align: top;text-align: left;}
.css_pa_nombre_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_pa_nombre_grid_line {vertical-align: top;text-align: left;}
.css_de_nombre_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_de_nombre_grid_line {vertical-align: top;text-align: left;}
.css_mu_nombre_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_mu_nombre_grid_line {vertical-align: top;text-align: left;}
.css_co_nombre_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_co_nombre_grid_line {vertical-align: top;text-align: left;}
.css_h_direccion_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_h_direccion_grid_line {vertical-align: top;text-align: left;}
.css_h_lat_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_h_lat_grid_line {vertical-align: top;text-align: left;}
.css_h_lon_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_h_lon_grid_line {vertical-align: top;text-align: left;}
.css_ch_nombre_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_ch_nombre_grid_line {vertical-align: top;text-align: left;}
.css_personas_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_personas_grid_line {text-align: left;}
