.css_socio_codsocio_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_socio_codsocio_grid_line {vertical-align: top;text-align: left;}
.css_socio_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_socio_nombre_grid_line {vertical-align: top;text-align: left;}
.css_socio_direccion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_socio_direccion_grid_line {vertical-align: top;text-align: left;}
.css_socio_email_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_socio_email_grid_line {vertical-align: top;text-align: left;}
.css_socio_sitioweb_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_socio_sitioweb_grid_line {vertical-align: top;text-align: left;}
.css_socio_telefono_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_socio_telefono_grid_line {vertical-align: top;text-align: left;}
