.css_idgenero__label { }
.css_idgenero__line {text-align:left;}
.css_idgenero__obj {text-align:left;}
.css_genero__label { }
.css_genero__line {text-align:left;}
.css_genero__obj {text-align:left;}
