.css_persona_noidentificacion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_persona_noidentificacion_grid_line {vertical-align: top;text-align: left;}
.css_beneficiario_quienrecibe_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_beneficiario_quienrecibe_grid_line {vertical-align: top;text-align: left;}
.css_beneficiario_idbeneficiario_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_beneficiario_idbeneficiario_grid_line {vertical-align: top;text-align: right;}
.css_beneficiario_idplanificacion_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_beneficiario_idplanificacion_grid_line {vertical-align: top;text-align: right;}
.css_beneficiario_fechadeingreso_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_beneficiario_fechadeingreso_grid_line {vertical-align: top;text-align: center;}
.css_beneficiario_login_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_beneficiario_login_grid_line {vertical-align: top;text-align: left;}
