.css_idvalorindicador__label {text-align:;}
.css_idvalorindicador__line {text-align:left;}
.css_idvalorindicador__obj {text-align:left;}
.css_idplanificacion__label { }
.css_idplanificacion__line {text-align:left;}
.css_idplanificacion__obj {text-align:left;}
.css_valor__label { }
.css_valor__line {text-align:left;}
.css_valor__obj {text-align:left;}
.css_fecha__label { }
.css_fecha__line { }
.css_fecha__obj { }
.css_detalle__label { }
.css_detalle__line { }
.css_detalle__obj { }
