.css_a_idactividad_det_label {text-align: right;vertical-align: middle;}
.css_a_idactividad_det_line {height:0px;text-align: right;}
.css_a_nombre_det_label {text-align: right;vertical-align: middle;}
.css_a_nombre_det_line {height:0px;text-align: right;}
.css_a_descripcion_det_label {text-align: right;vertical-align: middle;}
.css_a_descripcion_det_line {height:0px;text-align: right;}
.css_a_codigo_det_label {text-align: right;vertical-align: middle;}
.css_a_codigo_det_line {height:0px;text-align: right;}
.css_ta_nombre_det_label {text-align: right;vertical-align: middle;}
.css_ta_nombre_det_line {height:0px;text-align: right;}
